<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>VEN - Đăng nhập hoặc đăng ký</title>
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/App/services/app.js"></script>
</head>
<body style="background-image: url('/images/pexels-photo2.jpg'); padding: 50px;" ng-app="app">

    <div class="container">
        <div class="row">
            <header>
                <ul>
                    <li><a href="#" title="">Giới thiệu </a></li>
                    <li><a href="#" title="">Liên hệ</a></li>
                </ul>
            </header><!-- /header -->
        </div>
        <div class="row">
            <div class="col-md-8" id="login-gt">
                <h3>Bạn quan tâm<br>đến những thông tin sự kiện gì hằng ngày</h3>
                <h1>Kết nối ngay để không bỏ lở</h1>
            </div>
            <div class="col-md-4" id="login-dp">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <footer class="text-center">
                <h4>Đồ án chuyên ngành, dự án WAPP 2017</h4>
            </footer>
        </div>
    </div>
    <!--
    <script type="text/javascript">
        function dangKy() {
            var data = {
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                NgaySinh: new Date("10/20/1995"),
                Email: $("#email").val(),
                Mobile: $("#mobile").val(),
                Password: $("#password").val(),
                GioiTinh: 1,
            };
            $.ajax({
                method: "POST",
                url: "/DangKy",
                data: data,
                success: function (response) {
                    debugger;
                },
                error: function (error) {
                    debugger;
                }
            });
            return false
        }
        $(document).ready(function () {
            $("#login-nav").submit(function (e) {
                debugger;
                e.preventDefault();
                dangKy();
            });
        });
    </script> -->
</body>
</html>