<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/Assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <a href="#" title=""><h2>{{thanhVien.FirstName}} {{thanhVien.LastName}}</h2></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class=""></i> Cập nhật thông tin</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-home"></i> <span> Trang chủ</span></a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa  fa-group (alias)"></i> <span> Nhóm </span></a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="md-contacts"></i> <span> Bạn & theo giõi </span></a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="md-event"></i> <span> Sự kiện </span></a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="md-settings"></i> <span> Cài đặt </span></a>
                </li>
                <li class="has_sub" id="icon-list-keyword">
                    <a href="javascript:void(0);" class="waves-effect"><i class="md-list">!</i> <span> Từ khóa </span></a>
                </li>
                <li class="text-muted menu-title">Danh sách từ khóa</li>
                <ul class="list-keyword display-ili">
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> baoso1 </span><span class="badge">3</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> cit </span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> phaohoa2017 </span><span class="badge">12</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> ngap_ung_quan_thu_duc </span><span class="badge">5</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> bao_so_1 </span><span class="badge">3</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> cit </span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> phao_hoa_2017 </span><span class="badge">12</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> ngap_ung_quan_thu_duc </span><span class="badge">5</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> bao_so_1 </span><span class="badge">3</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> cit </span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> phao_hoa_2017 </span><span class="badge">12</span></a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><strong>#</strong> <span> ngap_ung_quan_thu_duc </span><span class="badge">5</span></a>
                    </li>
                </ul>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>