<div class="x_panel postarea">
    <article class="media event">
        <a href="#" title="">
            <img src="../../images/img.jpg" class="pull-left avata" alt="">
        </a>
        <div class="media-body">
            <textarea rows="2" data-toggle="modal" data-target="#myModal" placeholder="Sự kiên gì đang diễn ra?"></textarea>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content " style="width: 94%;float: right;left: 125px;">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                        <div class="modal-body">
                            <textarea style="width:50%; margin-bottom: 10px;" ng-model="noiDungTuKhoa" rows="1" placeholder="#TuKhoa"></textarea>
                            <textarea rows="3" ng-model="noiDungBanTin" placeholder="Nội dung"></textarea>
                            <input type="file" class="upload btn btn-default" accept="image/*" data-ak-file-model="imageFile" id="fileImage">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Thêm ảnh</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dangTin()">Đăng tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="row post_action">
        <button type="button" class="pull-left btn-upload">Định dạng nhiều hơn</button>
        <ul class="pull-right">
            <li><button type="button" class="btn-upload"><i class="fa fa-file-photo-o"></i> Ảnh</button></li>
            <li><button type="button" class="btn-upload"><i class="fa fa-map-marker"></i> Địa điểm</button></li>
            <li><button type="button" class="btn-upload"><i class=""></i>#TuKhoa</button></li>
        </ul>
    </div>
</div>

<div class="x_panel" ng-repeat="bt in dsBanTin track by $index">
    <div ng-app="venApp" ng-controller="binhLuanCtrl" ng-init="Init(bt.BanTinId, thanhVien.Id)">
        <!-- div tieu de -->
        <div class="x_title" id="abc">
            <div class="col-md-11 user_title">
                <article class="media event">
                    <a href="#" title="">
                        <img src="../../images/img.jpg" class="pull-left avata" alt="">
                    </a>
                    <div class="media-body">
                        <a class="title" href="#"><span>{{thanhVien.FirstName}} {{thanhVien.LastName}}</span></a><span> đã thêm một sự kiện</span>
                        <p class="hour">{{chuyenGio(bt.ThoiGian)}}</p>
                        <p>
                            <a style="margin-right:8px" ng-repeat="tk in bt.TuKhoas" data-id="{{tk.TuKhoaId}}" href="#" title="" class="hashtag">#{{tk.NoiDung}}</a>
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-1 option">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" ng-click="xoaTin(bt)"><span>Xoa</span></a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /div tieu de -->
        <!-- div noi dung bai viet -->
        <div class="nf_content">
            <div class="nf_caption">
                <p ng-bind="bt.NoiDung"></p>
            </div>
            <div class="nf_sameword">
                <ul class="list-inline list-unstyled">
                    <li><a href="#" class="btn btn-link"><small>#lulut2016</small></a></li>
                    <li><a href="#" class="btn btn-link"><small>#lulutmientrung</small></a></li>
                    <li><a href="#" class="btn btn-link"><small>#cuutrolulut</small></a></li>
                    <li><a href="#" class="btn btn-link"><small>#unghomientrung</small></a></li>
                </ul>
            </div>
            <div class="gallery">
                <!--<img class="img" src="~/images/excel.jpg" alt="" data-toggle="modal" data-target="#myModal1">-->
                <img class="img" alt="" ng-src="/images/BanTin/{{bt.BanTinId}}.jpg" ng-click="open_modal(bt)" data-toggle="modal" data-target="#openmodal" />
            </div>
        </div>
        <!-- /div noi dung bai viet -->
        <!-- div like -->
        <div class="nf_action">
            <ul>
                <li>
                    <div class="rating" id="rating2" style="display: inline;">
                        <button class="btn btn-default like">Like</button>
                        <span class="likes">0</span>
                    </div>
                </li>
                <li><button type="button" data-id="{{bt.BanTinId}}" class="btn-like" ng-click="open_modal(bt)"><i class="fa fa-comments-o"></i></button></li>
                <li><button type="button" class="btn-like"><i class="fa fa-retweet"></i></button></li>
            </ul>
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

            <script src="../../Assets/js/like-dislike.js"></script>
            <script>
	            $('#rating2').likeDislike({
                    reverseMode: true,
                    disabledClass: 'disable',
                    click: function (value, l, d, event) {
                        var likes = $(this.element).find('.likes');
                        var dislikes =  $(this.element).find('.dislikes');

                        likes.text(parseInt(likes.text()) + l);
                        dislikes.text(parseInt(dislikes.text()) + d);
                    }
                });
            </script>
        </div>
        <div class="modal-post-comment">
            <ul class="list-unstyled modal-list-comment">
                <li ng-repeat="bl in dsBinhLuan">
                    <a href="#">
                        <strong>{{thanhVien.FirstName}} {{thanhVien.LastName}}</strong>
                        <p>{{bl.NoiDung}}</p>
                        <p class="meta text-muted">{{chuyenGio(bt.ThoiGian)}}</p>
                    </a>
                </li>
                <li ng-if="dsBinhLuan && !anXemThem">
                    <a ng-click="loadMoreBinhLuan()" style="cursor:pointer;">&#09;<h5>Xem thêm...</h5></a>
                </li>
                <li>
                    <div class="col-sm-12">
                        <input id="inlineComment_{{bt.BanTinId}}" type="text" ng-enter="dangBinhLuan()" class="input-comment text-muted" ng-model="binhLuanMoi" placeholder="Viết bình luận...">
                        <button class="submit-comment form-control-feedback btn btn-lg btn-emotion" ng-click="dangBinhLuan()"><i class="icon-emotsmile"></i></button>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /div like -->
        <!-- Modal -->
        <div class="modal fade modal-sen" id="openmodal" role="dialog">
            <div class="modal-dialog modal-lg" style="width:85%; margin-left: auto">
                <div class="modal-content" style="padding:0">
                    <button type="button" class="close btn-close-modal" data-dismiss="modal">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <div class="post-modal-body" style="margin:0">
                        <div class="col-md-4 modal-post-info text-left">
                            <div class="post-scroll-modal">
                                <div class="blog-box-one">
                                    <div class="post-info">
                                        <div class="poster">
                                            <img ng-src="/images/BanTin/{{bt.BanTinId}}.jpg" alt="">
                                        </div>
                                        <div class="meta-container">
                                            <a href="#">
                                                <h4 class="text-overflow m-t-0">{{thanhVien.FirstName}} {{thanhVien.LastName}}</h4>
                                            </a>
                                            <a style="margin-right:8px" ng-repeat="tk in bt.TuKhoas" data-id="{{tk.TuKhoaId}}" href="#" title="" class="hashtag">#{{tk.NoiDung}}</a>

                                            <h4 class="text-muted pull-right dropdown">
                                                <span class="fa fa-angle-down dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false"></span>
                                                <ul class="dropdown-menu drop-menu-right" role="menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </h4>
                                            <div class="font-13">
                                                <span class="meta text-muted">{{chuyenGio(bt.ThoiGian)}}</span>
                                            </div>
                                        </div>
                                        <p class="m-b-0">
                                            {{modalData.NoiDung}}
                                        </p>
                                        <div class="row m-t-10">
                                            <div class="col-xs-7">
                                                <div class="m-t-10 blog-widget-action">
                                                    <a class="btn-like" href="javascript:void(0)">
                                                        <i class="fa fa-thumbs-o-up"></i> <span>54</span>
                                                    </a>
                                                    <a class="btn-helpful" href="javascript:void(0)">
                                                        <i class="fa fa-angellist"></i> <span>5</span>
                                                    </a>
                                                    <a href="javascript:void(0)" class="btn-post-comment" data-toggle="collapse" data-target="#post-comment-id1">
                                                        <i class="fa fa-comment-o"></i> <span>26</span>
                                                    </a>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-retweet"></i> <span>54</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 text-right">
                                                <div class="dropup">
                                                    <a href="" class="btn btn-sm waves-effect btn-white" data-toggle="dropdown">Từ khóa liên quan</a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="#">#cit</a></li>
                                                        <li><a href="#">#cit</a></li>
                                                        <li><a href="#">#cit</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Xem thêm...</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-post-comment">
                                        <ul class="list-unstyled modal-list-comment">
                                            <li ng-repeat="bl in dsBinhLuan">
                                                <a href="#">
                                                    <strong>{{thanhVien.FirstName}} {{thanhVien.LastName}}</strong>
                                                    <p>{{bl.NoiDung}}</p>
                                                    <span class="meta text-muted">{{chuyenGio(bt.ThoiGian)}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="loadMoreBinhLuan()">&#09;<h5>Xem thêm...</h5></a>
                                            </li>
                                            <li>
                                                <div class="col-sm-12">
                                                    <input type="text" ng-enter="dangBinhLuan()" class="input-comment text-muted" row="5" ng-model="binhLuanMoi" placeholder="Viết bình luận...">
                                                    <button class="submit-comment form-control-feedback btn btn-lg btn-emotion" ng-click="dangBinhLuan()"><i class="icon-emotsmile"></i></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-8">
                            <div class="modal-gallery">
                                <a href="#" role="button" data-slide="prev" class="left carousel-control"> <span aria-hidden="true" class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a>
                                <img alt="{{abc.name}}alt {{modalData.BanTinId}}" ng-src="/images/BanTin/{{modalData.BanTinId}}.jpg" class="img-responsive post-image-modal" id="image-modal">
                                <a href="#" role="button" data-slide="next" class="right carousel-control"> <span aria-hidden="true" class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
        <!-- /div Modal -->
    </div>
</div>